<!DOCTYPE html>
<html lang="pt-BR">

<%- include('head'); %>
<body class="container">
    <%- include('header'); %>
    <main>
       <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Oi eu sou Vitor Oliveira e trabalho como desenvolvedor Frontend !</p>
       </div>
    </main>
    <%- include('footer'); %>
</body>
</html>